{% extends 'MyKilometrowkaBundle:Default:layout.html.twig' %}


{% block body %}
    <div class="jumbotron">
        <h1>Kilometrówka 2017</h1>
        <p>Prowadź ewidencje pojazdów w prosty sposób!</p>
        <p><a class="btn btn-success btn-lg" href="{{ path('my_kilometrowka_rejestracja') }}">Zarejestruj sie za darmo</a> <a class="btn btn-info btn-lg" href="{{ path('my_kilometrowka_logowanie') }}">Mam juz konto</a></p>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--img src="http://dummyimage.com/242x200/f3f3f3/2d2d2d.png" alt="Generic placeholder thumbnail"-->
                <div class="caption">
                    <h2 class="glyphicon glyphicon-user" style="color: #353584;"> Darmowa rejestracja</h2>
                    <p>Aplikacja Kilometrówka 2017 nie posiada żadnych ukrytych opłat. Teraz możesz prowadzić ewidencje pojazdów służbowych zupełnie za darmo w prosty sposób.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--img src="http://dummyimage.com/242x200/f3f3f3/2d2d2d.png" alt="Generic placeholder thumbnail"-->
                <div class="caption">
                    <h2 class="glyphicon glyphicon-phone" style="color: #353584;"> Urządzenia mobilne</h2>
                    <p>Strona została zaprojektowana w sposób, aby elastycznie można z niej korzystać na komputerze, telefonie i tablecie. Teraz masz dostęp do swoich danych na dowolnym urządzeniu!</p>
                    <!--p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p-->
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--img src="http://dummyimage.com/242x200/f3f3f3/2d2d2d.png" alt="Generic placeholder thumbnail"-->
                <div class="caption">
                    <h2 class="glyphicon glyphicon-print" style="color: #353584;"> Możliwość wydruku</h2>
                    <p>Kilometrówka 2017 posiada funkcje wydruku przebiegu pojazdu według miesiąca. Już nie musisz ręcznie przepisywać wprowadzonych do systemu danych.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-ok" style="color: #353584;"> Nieograniczone możliwości</h3>
            <p>Aplikacja nie narzuca żadnych ograniczeń! Zupełnie za darmo możesz dodać dowolną liczbę, pracowników, samochodów i przejazdów.</p>

            <h3 class="glyphicon glyphicon-ok" style="color: #353584;"> Zgodność z normami</h3>
            <p>Kilometrówka 2017 została wykonana zgodnie z wytycznymi ustawy Ministerstwa Infrastruktury. Generowany raport posiada wszystkie niezbędne dane do prowadzenia ewidencji pojazdów prywatnych.</p>

            <h3 class="glyphicon glyphicon-ok" style="color: #353584;"> Aktualne stawki</h3>
            <p>Aplikacja posiada aktualne stawki dla pojazdów osobowych o pojemności skokowej poniżej 900<sup>3</sup>, powyżej 900<sup>3</sup>, motocykli i motorowerów.</p>
        </div>
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-ok" style="color: #353584;"> Dowolna liczba prowadzonych firm</h3>
            <p>Jeśli prowadzisz większą ilość firm nie musisz zakładać kolejnego konta. Aplikacja nie narzuca dozwolonej ilośći firm dla których chcesz prowadzić ewidencje przebiegu pojazdów.</p>

            <h3 class="glyphicon glyphicon-ok" style="color: #353584;"> Możliwość eksportu danych</h3>
            <p>Kilometrówka posiada możliwość eksportu danych do popularnego formatu tekstowego. Teraz możesz pobrać ewidencje i przechowywać na dysku twardym własnego urządzenia.</p>

            <h3 class="glyphicon glyphicon-ok" style="color: #353584;"> Automatyczne podsumowanie</h3>
            <p>Aplikacja posiada funkcje automatycznego podsumowania przejechanej odległości danego samochodu jak i kwoty w złotówkach.</p>
        </div>
    </div>
{% endblock %}